/* Giving our navbar some padding and a background color */
.navbar {
    padding: 25px;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li a{
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
    cursor: pointer;
    background: white;
    border-radius: 3px;
    font-size: large;
}

.navbar a{
    font-size: xx-large;
    padding: 0;
    margin-left: 15%;
}

body{
    background-color: lightgray;
}

.box{
    background-color: white;
    margin-top: 25px;
    padding: 20px;
}

.box h1{
    font-size: xx-large;
    /* text-underline-position: auto; */
}

.box h2{
    font-size: larger;
    line-height: 40px;
}

#main-text{
    width: 95%;
}
#main-image{
    float:left;
    width: 250px;
    height:250px;
    margin-right: 20px;
}
#side-image-1{
    /* float:left; */
    width: 200px;
    height:200px;
    /* margin-right: 20px; */
}
#side-image-2{
    /* float:left; */
    width: 200px;
    height:200px;
    /* margin-right: 20px; */
}
#side-image-3{
    /* float:left; */
    width: 200px;
    height:200px;
    /* margin-right: 20px; */
}
#side-image-4{
    /* float:left; */
    width: 200px;
    height:200px;
    /* margin-right: 20px; */
}

#table{
    background-color: white;
    margin-top: 25px;
    padding: 20px;
}

#comparison-image{
    width: 500px;
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#subtitle{
    font-size: x-large
}

#detailed-image{
    width: 500px;
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}